@use 'sass:map';

@use '@/styles/variables.scss';


.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: map.get(variables.$sizes, spacing-xxl-5);


	& .addMovieBtn {
		position: fixed;
		inset-inline-end: 30px;
		inset-block-end: 30px;
		width: 100px;
		height: 50px;
		font-size: 1.4rem;
		color: map.get(variables.$colors, primary-white);
		background-color: map.get(variables.$colors, accent-red);
		border: none;
		border-radius: 8px;
	}

	& ul {
		list-style-type: none;
	}
}

.creator {
	display: hidden;
}



.fetchButton {
	position: fixed;
	inset-inline-end: 150px;
	inset-block-end: 30px;
	width: 100px;
	height: 50px;
	font-size: 1.4rem;
	color: map.get(variables.$colors, primary-white);
	background-color: map.get(variables.$colors, accent-red);
	border: none;
}

.error {
	padding: map.get(variables.$sizes, spacing-l) map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l) map.get(variables.$sizes, spacing-xxl-3);
	margin: map.get(variables.$sizes, spacing-l) 0;
	color: map.get(variables.$colors, error-red);
	background-color: map.get(variables.$colors, primary-grey);
	background-image: url('https://i.imgur.com/GnyDvKN.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid;
}


.fixed {
	position: fixed;
	z-index: 100000;
	align-items: center;
	font-size: 120rem;
}

.sortDropdown {
	flex-direction: row;
	justify-content: center;
	padding: map.get(variables.$sizes, spacing-m);

}