@use 'sass:map';

@use '@/styles/variables.scss';


.card {
    position: relative;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px #00000042;
}