@use 'sass:map';

@use '@/styles/variables.scss';

.modal {
    position: fixed;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    top: 50%;
    /* stylelint-disable-next-line property-disallowed-list */
    left: 50%;
    z-index: 10000;
    background: map.get(variables.$colors, primary-white);
    border-radius: 8px;
    box-shadow: 0 2px 8px #00000042;
    transform: translate(-50%, -50%);
}

.modalContent {
    padding: map.get(variables.$sizes, spacing-m);
}