.modal {
    position: fixed;
    z-index: 10000;
    top: 22vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
}

.modalContent {
    padding: 10px 10px;
}