.enter {
    opacity: 0;
    transform: translateY(-10rem);
}

.enterActive {
    opacity: 1;
    transition: all 200ms;
    transform: translateY(0);
}

.exit {
    opacity: 1;
    transform: translateY(0);
}

.exitActive {
    opacity: 0;
    transition: all 200ms;
    transform: translateY(-10rem);
}