.container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    & .addMovieBtn {
        position: fixed;
        right: 20px;
        bottom: 30px;
        background-color: #720000;
        color: #ffffff;
        font-size: 14px;
        border: none;
        width: 100px;
        height: 50px;

    }

    & ul {
        list-style-type: none;
    }
}


.videoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & input {
        width: 50%;
        padding: 16px;
        background-color: #f7eded;
        border: none;
        margin-bottom: 16px;
        font-size: 14px;
        border: 2px solid #a0aec0;
        box-sizing: border-box;
        color: black;
    }

    & textarea {
        width: 50%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #a0aec0;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }

    & .addMovieBtn {
        margin-top: 20px;
        background-color: #720000;
        color: #ffffff;
        font-size: 14px;
        border: none;
        padding: 16px;
        width: 50%;
    }

    & label {
        font-size: 15px;
    }


}

.creator {
    display: hidden;
}



.fetchButton {
    position: fixed;
    right: 150px;
    bottom: 30px;
    background-color: #720000;
    color: #ffffff;
    font-size: 14px;
    border: none;
    width: 100px;
    height: 50px;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}


.fixed {
    position: fixed;
    font-size: 1200px;
    z-index: 100000;
    align-items: center;
}




.notification {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 20%;
    color: #f7eded;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(147, 67, 67, 1) 0%, rgba(111, 27, 27, 1) 90%);
    bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
    transform-origin: left;
    -webkit-animation: notify 3s ease-in-out;
    animation: notify 3s ease-in-out;
    z-index: 1000;

}

@-webkit-keyframes notify {
    0% {
        transform: scaleX(0);
    }

    10% {
        transform: scaleX(1);
    }

    13% {
        transform: scale(1.1);
    }

    16% {
        transform: scale(1);
    }

    55% {
        transform: scaleX(1);
        border-radius: 0%;
    }

    65% {
        transform: scaleX(0.25);
        border-radius: 50%;
    }

    95% {
        transform: scaleX(0.25);
        border-radius: 50%;
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes notify {
    0% {
        transform: scaleX(0);
    }

    10% {
        transform: scaleX(1);
    }

    13% {
        transform: scale(1.1);
    }

    16% {
        transform: scale(1);
    }

    55% {
        transform: scaleX(1);
        border-radius: 0%;
    }


}


.sortDropdown {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 10px;

}