@use 'sass:map';

@use '@/styles/variables.scss';


.nav {
    padding: map.get(variables.$sizes, spacing-m);
    font-size: map.get(variables.$sizes, spacing-xl);
    color: map.get(variables.$colors, primary-white);
    text-decoration: none;
    border: 1px solid transparent;

    &:hover,
    &:active,
    &.active {
        color: map.get(variables.$colors, primary-white);
        background: #8d1616;
        border-radius: 4px;
    }


}