@use 'sass:map';

@use '@/styles/variables.scss';



.signInText {
    position: absolute;
    font-size: map.get(variables.$sizes, spacing-xl);
}

.signInCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;

}

.signUpForm {
    display: flex;
    flex-direction: column;
    width: 400px;

    & input {
        box-sizing: border-box;
        width: 100%;
        padding: map.get(variables.$sizes, spacing-l);
        margin-bottom: map.get(variables.$sizes, spacing-l);
        font-size: map.get(variables.$sizes, spacing-l);
        color: map.get(variables.$colors, primary-black);
        background-color: map.get(variables.$colors, primary-white);
        border: 2px solid #a0aec0;
    }


    & button {
        width: 100%;
        padding: map.get(variables.$sizes, spacing-l);
        font-size: map.get(variables.$sizes, spacing-l);
        color: map.get(variables.$colors, primary-white);
        background-color: map.get(variables.$colors, accent-red);
        border: none;
    }

    & label {
        font-size: map.get(variables.$sizes, spacing-l);
    }


}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: pre-line;
}