@use 'sass:map';

@use '@/styles/variables.scss';


.mainHeaderTitles {
    font-size: map.get(variables.$sizes, spacing-xl);
    color: map.get(variables.$colors, primary-white);
    ;
}


.logo {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.logoAndText {
    display: flex;
    align-items: baseline
}

.signindiv {
    display: flex;

}

.login {
    margin-inline-end: map.get(variables.$sizes, spacing-m);
}

.logoNav {
    text-decoration: none;
}